body{
    margin: 0%;
}
.header-top{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: lightblue;
    border-bottom: 1px solid blue;
    margin: 0%;
}
.header-top p a{
    text-decoration: none;
}

/*     HEADER - BOTTOM     */
.header-bottom{
    display: grid;
    grid-template-columns: 10% 50% 30%;
    justify-content: center;
}
.header-bottom div:first-child img{
    width: 100%;
}
.header-bottom div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-bottom div a{
    text-decoration: none;
    color: black;
}
.header-bottom div h4:hover{
    color: blue;
    text-shadow: 0px 0px 10px blue;
}
.header-bottom div:last-child input{
    border-color: skyblue;
    border-radius: 5px;
    width: 60%;
    margin: 40px 0px;
    height: 35%;
    border-style: groove;
}
.header-bottom div:last-child>i{
    font-size: x-large;
    position: relative;
    right: 40px;
}
.header-bottom div:last-child a{
    font-size: x-large;
}
.header-bottom div:last-child a[href='wishlist.html']:hover{
    color: red;
    text-shadow: 0px 0px 20px red;
}
.header-bottom div:last-child a:last-child:hover{
    color: blue;
    text-shadow: 0px 0px 20px blue
}
/*       LOCATION      */
.location{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #87cefa6e;
}
.location span{
    color: #882c2c;
}
.location span:nth-child(2),.location span:nth-child(4){
    margin: 0px 10px;
}
 /*          DETAILS            */
 .details-a{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    margin-top: 50px;
 }
 .details-a div img{
    width: 100%;
 }
 .details-a div:last-child{
    margin-left: 20px;
    border-bottom: 0.5px solid gray;
 }
 .details-a div h2:first-child{
    font-family: system-ui;
    font-size: xx-large;
 }
 .details-a>div>span:nth-child(3) {
    color: green;
    font-family: sans-serif;
}
.details-a>div div span:first-child{
    font-size: xx-large;
    font-weight: 600;
    font-family: sans-serif;
    color: green;
}
.details-a>div div span:nth-child(2){
    margin: 20px;
    font-size: larger;
    text-decoration: line-through;
    font-style: italic;
    color: #726e6e;
    font-family: serif;
}
.details-a div>span:last-child{
    font-size: larger;
    font-family: serif;
}
.details-a>div div{
    margin: 25px 0px;
    padding: 20px 0px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.details-a div p:nth-child(8),.details-a div p:nth-child(9),.details-a div p:nth-child(10){
    color: #2c2c2c;;
}
/*       COLORS         */
.details-a div .colors{
    margin: 30px 0px;
}
.details-a div .colors>span{
    border-radius: 50%;
    padding: 5px 15px;
    margin: 5px;
}
.details-a div .colors>span:first-child{
    background-color: blue;
}
.details-a div .colors>span:first-child:hover{
    box-shadow: 0px 0px 5px blue;
}
.details-a div .colors>span:nth-child(2){
    background-color: green;
}
.details-a div .colors>span:nth-child(2):hover{
    box-shadow: 0px 0px 5px green;
}
.details-a div .colors>span:nth-child(3){
    background-color: rebeccapurple;
}
.details-a div .colors>span:nth-child(3):hover{
    box-shadow: 0px 0px 5px rebeccapurple;
}
.details-a div .colors>span:nth-child(4){
    background-color: rgb(245, 91, 116);
}
.details-a div .colors>span:nth-child(4):hover{
    box-shadow: 0px 0px 5px rgb(245, 91, 116);
}
.details-a div .colors>span:nth-child(5){
    background-color: orange;
}
.details-a div .colors>span:nth-child(5):hover{
    box-shadow: 0px 0px 5px orange;
}
/*   SIZE   */
.size{
    margin: 30px 0px;
}
.size span{
    margin: 5px;
    border: 1px solid;
    padding: 3px 10px;
}
.details-a div input[type=number]{
    width: 50px;
    height: 30px;
    border: 0.5px solid;
    padding: 2px;
}
.details-a div input[type=submit]{
    width: 90px;
    height: 35px;
    border: 0.5px solid;
    padding: 10px;
    background-color: rgb(0, 160, 107);
    border-radius: 3px;
}
.details-a div a:last-child{
    font-size: x-large;
    color: red;
    margin: 10px;
    vertical-align: middle;
    border: 0.5px solid gray;
    padding: 4px;
    background-color: #00a06b4d;
    border-radius: 3px;
}
.details-a div a:last-child:hover{
    text-shadow: 0px 0px 5px red;
}
.details-b{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    margin-top: 15px;
}
.details-b div:first-child{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
}
.details-b div:first-child img{
    width: 100%;
}
.details-b div:last-child{
    margin-left: 20px;
}
.add-info div:first-child{
    display: flex;
}
.add-info div:first-child a{
    margin: 20px 30px;
    text-decoration: none;
}
.add-info div:first-child a:first-child{
    color: green;
}
.add-info div:first-child a:last-child:hover{
    color: green;
    text-shadow: 0px 0px 5px rgb(119, 230, 119);
}
.add-info div table{
    width: 98%;
    margin: 20px
}
.add-info div table tr td{
    padding: 15px;
    border: 0.1px solid gray;
    width: 50%;
}
/*     RELATED PRODUCTS    */
.related{
    margin: 40px;
}
.related>div h2{
    font-size: xx-large;
}
.related>div h2 span{
    color: green;
}
.related-products>div{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-evenly;
    margin: 60px;
}
.related-products div div{
    border: 0.5px solid #87ceeb82;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px #87ceebc2;
}
.related-products div div img{
    width: 100%;
    border-radius: 15px;
}
.related-products div div p{
    color: gray;
}
.related-products div div h6{
    text-decoration: line-through;
    color: gray;
    margin: 10px 0px;
}
.related-products div div span{
    margin: 10px 0px;
    font-family: system-ui;
    color: mediumblue;
}
.related-products div div button{
    margin: 0px 0px 0px 114px;
    font-size: x-large;
    border-radius: 40%;
    background-color: skyblue;
    padding: 0px 15px;
    border: none;
}
.related-products div div button:hover{
    background-color: lightgreen;
    box-shadow: 0px 0px 10px green;
}
.related-products div div button i{
    color: blue;
}
.related-products div div i{
    justify-self: end;
    color: gold;
    margin: 15px 5px;
}
/* SUBSCRIBE */

.subscribe{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-around;
    margin: 50px 0px;
    align-items: center;
    text-align: center;
    background-color: #dddfff;
    height: 150px;
}
.subscribe div:first-child{
    display: grid;
    grid-template-columns: 10% 55%;
    justify-content: center;
    align-items: center;
}
.subscribe div:first-child img{
    width: 100%;
}
.subscribe div input[type="email"]{
    padding: 10px;
    background-color: #87ceeb59;
    border: 0.2px solid darkgreen;
    border-radius: 5px 0px 0px 5px;
    width: 250px;
}
.subscribe div input[type="submit"]{
    padding: 10px;
    border: 0.5px solid;
    border-radius: 0px 5px 5px 0px;
    color: white;
    background-color: darkblue;
}
/*     FOOTER     */
footer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    
}
footer div:first-child img{
    width: 40%;
}
footer div:first-child address{
    margin-bottom: 20px;
}
footer div:first-child a:nth-child(7){
    color: white;
    background-color: deepskyblue;
    font-size: x-large;
    padding: 5px;
    border-radius: 5px;
}
footer div:first-child a:nth-child(8){
    color: white;
    background-color: blue;
    font-size: x-large;
    padding: 5px 9px;
    border-radius: 5px;
}
footer div:first-child a:nth-child(9){
    color: white;
    background-image: linear-gradient(145deg, #1025c2,orange,red,pink,blue);
    font-size: x-large;
    padding: 5px 7px;
    border-radius: 5px;
}
footer div a{
    text-decoration: none;
    color: black;
}
.disclaimer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.disclaimer b b{
    color: transparent;
    background: linear-gradient(to left,violet,indigo,blue,green,orange,red);
    background-clip: text;
}