body{
    margin: 0%;
}
/*     HEADER - TOP   */
.header-top{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: lightblue;
    border-bottom: 1px solid blue;
    margin: 0%;
}
.header-top div p:nth-child(3){
    color: #545352;
    text-shadow: 0px 0px 5px #545352;
}
/*     HEADER - BOTTOM     */
.header-bottom{
    display: grid;
    grid-template-columns: 10% 50% 30%;
    justify-content: center;
}
.header-bottom div:first-child img{
    width: 100%;
}
.header-bottom div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-bottom div a{
    text-decoration: none;
    color: black;
}
.header-bottom div h4:hover{
    color: blue;
    text-shadow: 0px 0px 10px blue;
}
.header-bottom div:last-child input{
    border-color: skyblue;
    border-radius: 35px;
    width: 60%;
    margin: 40px 0px;
    height: 35%;
    border-style: groove;
}
.header-bottom div:last-child i{
    font-size: x-large;
    margin: 7px;
}
/*      BANNER        */
.banner{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 0px 20px lightblue;
}
.banner div:first-child{
    font-size: x-large;
    align-self: center;
}
.banner div h6{
   color:#000000a8;
}
.banner div h2:nth-child(3){
    color: #00b5ff;
    font-style: oblique;
}
.banner div p{
    font-size: small;
}
.banner div button{
    padding: 10px 20px;
    background-color: skyblue;
    border-radius: 15px;
    border: 2px solid blue;
    border-style: double;
}
.banner div:last-child{
    padding: 10px;
}
/*     CATEGORIES     */
.categories>div:first-child{
    display: grid;
    grid-template-columns: 85% 5% 5%;
    align-items: center;
    justify-content: center;
}
.categories>div p{
    border: 1px solid blue;
    width: fit-content;
    border-radius: 50%;
    padding: 5px 10px;
    background-color: skyblue;
    font-weight: bolder;
}
.categories>div:last-child{
    display: grid;
    grid-template-columns: repeat(6, 13%);
    justify-content: space-evenly;
    text-align: center;
}
.categories div div{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
}
.categories div div img{
    width: 100%;
    border-radius: 15px;
}
