body{
    margin: 0%;
}
/*     HEADER - TOP   */
.header-top{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: lightblue;
    border-bottom: 1px solid blue;
    margin: 0%;
}
.header-top div p:nth-child(3){
    color: #545352;
    text-shadow: 0px 0px 5px #545352;
}
/*     HEADER - BOTTOM     */
.header-bottom{
    display: grid;
    grid-template-columns: 10% 50% 30%;
    justify-content: center;
}
.header-bottom div:first-child img{
    width: 100%;
}
.header-bottom div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-bottom div a{
    text-decoration: none;
    color: black;
}
.header-bottom div h4:hover{
    color: blue;
    text-shadow: 0px 0px 10px blue;
}
.header-bottom div:last-child input{
    border-color: skyblue;
    border-radius: 35px;
    width: 60%;
    margin: 40px 0px;
    height: 35%;
    border-style: groove;
}
.header-bottom div:last-child i{
    font-size: x-large;
    margin: 7px;
}
/*      BANNER        */
.banner{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 0px 20px lightblue;
}
.banner div:first-child{
    font-size: x-large;
    align-self: center;
}
.banner div h6{
   color:#000000a8;
}
.banner div h2:nth-child(3){
    color: #00b5ff;
    font-style: oblique;
}
.banner div p{
    font-size: small;
}
.banner div button{
    padding: 10px 20px;
    background-color: skyblue;
    border-radius: 15px;
    border: 2px solid blue;
    border-style: double;
}
.banner div:last-child{
    padding: 10px;
}
/*     CATEGORIES     */
.categories{
    margin: 80px
}
.categories>div:first-child{
    display: grid;
    grid-template-columns: 85% 5% 5%;
    align-items: center;
    justify-content: center;
}
.categories>div p{
    border: 1px solid blue;
    width: fit-content;
    border-radius: 50%;
    padding: 5px 10px;
    background-color: skyblue;
    font-weight: bolder;
}
.categories>div:last-child{
    display: grid;
    grid-template-columns: repeat(6, 13%);
    justify-content: space-evenly;
    text-align: center;
}
.categories div div{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
}
.categories div div img{
    width: 100%;
    border-radius: 15px;
}
/*     PRODUCT BUTTONS      */
.product-btns>div button{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border:none;
    background-color: #87ceeb85;
}
.product-btns>div button a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.product-btns>div button:hover{
    background-color: lightgreen;
    box-shadow: 0px 0px 10px green;
}
/*      PRODUCTS      */
.products>div{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-evenly;
    margin: 60px;
}
.products div div{
    border: 0.5px solid #87ceeb82;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px #87ceebc2;
}
.products div div img{
    width: 100%;
    border-radius: 15px;
}
.products div div p{
    color: gray;
}
.products div div h6{
    text-decoration: line-through;
    color: gray;
    margin: 10px 0px;
}
.products div div span{
    margin: 10px 0px;
    font-family: system-ui;
    color: mediumblue;
}
.products div div button{
    margin: 0px 0px 0px 130px;
    font-size: x-large;
    border-radius: 40%;
    background-color: skyblue;
    padding: 0px 15px;
}
.products div div button i{
    color: blue;
}
.products div div i{
    justify-self: end;
    color: gold;
    margin: 15px 5px;
}
/*     DEALS      */
.deals{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}
.deals div:first-child{
    background-image: url(../assets/img/deals-1.jpg);
    padding: 20px;
}
.deals div:last-child{
    background-image: url(../assets/img/deals-2.png);
    padding: 20px;
}
/* DEALS TEXT */
.deals div h2{
    color: #009aff;
    font-family: cursive;
}
.deals div p{
    color: #545352;
}
.deals div h4{
    margin: 0px;
    font-family: system-ui;
}
.offer-price{
    margin: 0px 25px 0px 0px;
    color: red;
    font-size: larger;
}
.original-price{
    text-decoration: line-through;
    font-style: italic;
}
.deals div .time{
    background: #00adff;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
}
.deals div .time-text{
    margin: 21px;
}
/*     NEW ARRIVALS     */
.newarrivals~div:first-child{
    text-align: center;
    margin: 50px;
}
.new-products>div{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-evenly;
    margin: 60px;
}
.new-products div div{
    border: 0.5px solid #87ceeb82;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px #87ceebc2;
}
.new-products div div img{
    width: 100%;
    border-radius: 15px;
}
.new-products div div p{
    color: gray;
}
.new-products div div h6{
    text-decoration: line-through;
    color: gray;
    margin: 10px 0px;
}
.new-products div div span{
    margin: 10px 0px;
    font-family: system-ui;
    color: mediumblue;
}
.new-products div div button{
    margin: 0px 0px 0px 130px;
    font-size: x-large;
    border-radius: 40%;
    background-color: skyblue;
    padding: 0px 15px;
    border: none;
}
.new-products div div button:hover{
    background-color: lightgreen;
    box-shadow: 0px 0px 10px green;
}
.new-products div div button i{
    color: blue;
}
.new-products div div i{
    justify-self: end;
    color: gold;
    margin: 15px 5px;
}
.all-in-one>div:first-child{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    border-bottom: 0.5px solid gray;
    justify-content: space-around;
    font-family: sans-serif;
}
.showcase-line{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-around;
    font-family: sans-serif;
}
.showcase-line>div{
    display: flex;
    margin: 5px;
    padding: 5px;
    box-shadow: 0px 0px 5px skyblue;
}
.showcase-line div img{
    width: 30%;
}
.showcase-line div span h3{
    margin: 3px 0px;
}
.showcase-line div>span{
    margin-top: 20px;
}
.showcase-line>div>span{
    align-self: center;
}
.showcase-line div span div{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: baseline;
}
/*      SUBSCRIBE SECTION       */
.subscribe{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-around;
    margin: 50px 0px;
    align-items: center;
    text-align: center;
    background-color: #dddfff;
    height: 150px;
}
.subscribe div input[type="email"]{
    padding: 10px;
    background-color: #87ceeb59;
    border: 0.2px solid darkgreen;
    border-radius: 5px 0px 0px 5px;
    width: 250px;
}
    .subscribe div input[type="submit"]{
    padding: 10px;
    border: 0.5px solid;
    border-radius: 0px 5px 5px 0px;
    color: white;
    background-color: darkblue;
    }